{% extends "template.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="nav-sidebar">
                    <ul class="nav">
                        <li class="active">
                            <a href="{% url 'profile' %}">
                                <i class="glyphicon glyphicon-home"> Home </i>
                            </a>
                        </li>
                        <li class="nav-divider"></li>
                        <li>
                            <i class="glyphicon glyphicon-th-list"> Minhas ofertas </i>
                        </li>
                        <li class="nav-divider"></li>
                        <li>
                            <a href="{% url 'meus_produtos' %}">
                                <i class="glyphicon glyphicon-phone"> Meus Produtos </i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'meus_servicos' %}">
                                <i class="glyphicon glyphicon-wrench"> Meus Serviços </i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'minhas_empresas' %}">
                                <i class="glyphicon glyphicon-briefcase"> Minhas Empresas </i>
                            </a>
                        </li>


                        <li class="nav-divider"></li>
                        <li>
                            <i class="glyphicon glyphicon-heart"> Meus favoritos </i>
                        </li>
                        <li class="nav-divider"></li>
                        <li>
                            <a href="{% url 'produtos_favoritos' %}">
                                <i class="glyphicon glyphicon-phone"> Produtos </i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'servicos_favoritos' %}">
                                <i class="glyphicon glyphicon-wrench"> Serviços </i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'empresas_favoritas' %}">
                                <i class="glyphicon glyphicon-briefcase"> Empresas </i>
                            </a>
                        </li>



                        <li class="nav-divider"></li>
                        <li>
                            <a href="javascript:;">
                                <i class="glyphicon glyphicon-cog"></i> Configurações
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="glyphicon glyphicon-off"></i> Sair
                            </a>
                        </li>
                    </ul>
                </div><!-- /list-group -->      
            </div><!-- /col -->

            <h1>Meus Produtos </h1>
            <br/>
            <div class="bunch text-center">
                <a href="{% url 'cadastro_produto' %}">
                    <button type=button class="btn btn-success "> 
                        Cadastrar novo produto
                    </button>
                </a>        
            </div>
            <br/>

            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class='list-group gallery'>
                
                        {% for product in products %}
                            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                                <img class="img-responsive" alt="Image" src="../../media/{{ product.docfile }}" />
                                <div class="text-center">
                                    <p>{{ product.name }}</p><br/>
                                    <small class='text-muted'>{{ product.description }}</small><br/>
                                    <small class='text-muted'>{{ product.id }}</small><br/>
                                    <a href="{% url 'edicao_produto' %}?id_produto=product.id">
                                        <button type=button class="btn btn-warning "> 
                                            Editar
                                        </button>
                                    </a>
                                    <button type=button class="btn btn-danger "> 
                                        Excluir
                                    </button>        
                                </div> <!-- text-right / end -->
                                
                            </div> <!-- col-6 / end -->
                        {% endfor %}
                        
                    </div> <!-- list-group / end -->
                </div><!-- /row -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->

{% endblock %}