{% extends "template.html" %}

{% block content %}

	<h1> Serviços! </h1>

	<div class="container">
	<div class="row">
	<div id="myCarousel" class="carousel  slide">
  <!-- Dot Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

	<!-- Items -->
	<div class="carousel-inner">
		<div class="active item">  
			<img src="//placehold.it/1300x500" class="img-responsive">
		</div>
		<div class="item">  
			<img src="//placehold.it/1300x500" class="img-responsive">
		</div>
		<div class="item">  
			<img src="//placehold.it/1300x500" class="img-responsive">
		</div>
	</div>

	<!-- Navigation -->
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
</div>
	</div>
</div>
<br/>
	<div class="container">
		<div class="row">
			<div class='list-group gallery'>
				{% for service in services %}
					<div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
		                <img class="img-responsive" alt="Image" src="../../media/{{ service.docfile }}" />
	                    <div>
	                        <p>{{ service.service_name }}</p><br/>
	                        <small class='text-muted'>{{ service.service_description }}</small>
	                    </div> <!-- text-right / end -->
		            </div> <!-- col-6 / end -->
			    {% endfor %}
	        </div> <!-- list-group / end -->
		</div> <!-- row / end -->
	</div> <!-- container / end -->

{% endblock %}