{% extends "template.html" %}
{% load static %}

{% block content %}
	<div class="container">
		<h1> Sobre </h1>
		
		<p class="lead col-xs-12 col-sm-12 col-md-12 text-left text-justify"> Objetivados a concluir a disciplina de Programação para Web II do Curso de Bacharelado em Sistemas de Informação ministrada pelo professor Francisco das Chagas Imperes Filho, nós discentes, Andréia Sanny, José Lucas e Veronildo Batista propomos como projeto solucionar o defasado sistema de busca da cidade de Picos para produtos, serviços e empresas através deste site.</p>
		<div class="container">
			<div class="col-xs-8 col-sm-4 col-md-4 configdiv">
				<img src="{% static 'img/site/lucas.png' %}" class="img-responsive" alt="Lucas Coelho"/>	<br/>
				<p class="col-xs-12 col-sm-12 col-md-8 text-center">
					José Lucas Coelho de Macedo 
					lucascoelhosi96@gmail.com 
					Discente - Sistemas de Informação
				</p>
			</div>
			<div class="col-xs-8 col-sm-4 col-md-4 configdiv">
				<img src="{% static 'img/site/veron.png' %}" class="img-responsive" alt="Veronildo"/>	<br/>
				<p class="col-xs-12 col-sm-12 col-md-8 text-center">
					Veronildo Batista Ferreira 
					faculveron@hotmail.com 
					Discente - Sistemas de Informação	
				</p>
			</div>
			<div class="col-xs-8 col-sm-4 col-md-4 configdiv">
				<img src="{% static 'img/site/sanny.png' %}" class="img-responsive" alt="Andréia Sanny"/>	<br/>	
				<p class="col-xs-12 col-sm-12 col-md-8 text-center">
					Andréia Sanny de Sousa
					andreiasanny@hotmail.com 
					Discente - Sistemas de Informação	
				</p>
			</div>
		<div>
	</div>
{% endblock %}